nav {
  /* background-color: var(--light-gray); */
}

.nav-container {
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.nav-container ul {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style-type: none;
  padding: 0;
}

.nav-container a {
  background-color: brown;
  padding: 8px 24px;
  text-decoration: none;
  border-radius: 8px;
}

.nav-container a:hover {
  background-color: #fadfa1;
  color: var(--light-gray);
}

.nav-container a.active {
  border: 2px solid;
  animation: borderGlitch 3s infinite linear;
}

@keyframes borderGlitch {
  0% {
    border: 2px solid peachpuff;
  }

  25% {
    border: 2px solid lime;
  }

  50% {
    border: 2px solid blueviolet;
  }

  75% {
    border: 2px solid lime;
  }

  100% {
    border: 2px solid peachpuff;
  }
}
